#Default port is 8761 server:
server:
  port: 8761
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
  #Uncomment when working in a development mode.
  #server:
    #waitTimeInMsWhenSyncEmpty: 5